body {
  background-color:#f4f6fa !important;
  background-image: url("../public/images/Honey_pattern.png");
}

.highlight_changed_data{
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);

}

.highlight_changed_checkbox{
  
  background-color: rgba(126, 239, 104, 0.8)  !important;
    border-color: rgba(126, 239, 104, 0.8)  !important;
}


.bg_color{
  background-color:#f4f6fa
}

#facility_form{
  margin:auto;
}

.green_text_color{
  color:#1ab394 !important;
}

.green_bg_color{
  background-color:#1ab394 !important;
}

.alert_message{
  width:80%;
  margin:auto;
}

.hide_element{
  display:none;
}

.btn-success{
  background-color:#1ab394 !important;
}

p, td, th, label, b, input, select {
font-size: 0.7em !important; /* 40px/16=2.5em */
}

input[type="checkbox"]
{
  margin-top: 8px !important;
}

#search_icon:hover{
  color:#1ab394 !important;
}
#search_icon{
  margin:auto !important;
}
legend{
  font-size:35px !important;
}

#facility_form{
  width:80% !important;
  background: transparent !important;
  border: 0px !important;
}

#facilities_list_filter label {
  width:250px !important;
}

.navbar-styling {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.glowing-border {
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
td{
  background:white;
  border-bottom: 1px solid black !important;
}

#facilities_list_filter label input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 500px) {
  #nav_menu_dropdown{
    display:block !important;
  }
  #navbarExample01.navbar-nav.menu_item li{
    /* previous styles */
    display: none ;
  }
}
.hide_menu_link{
  /* previous styles */
  display: none !important;
}
.show_menu_link{
  /* previous styles */
  display: block !important;
}
